//fonts:
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
//font-family: 'IBM Plex Sans', sans-serif; - Semi-bold 600 y Regular 400
$font-titles:'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
//font-family: 'IBM Plex Mono', monospace; - Medium 500 y Regular 400
$font-paragraph:'IBM Plex Mono', monospace;

//color:
$color-black:#060A24;
$color-white:#FFFFFF;
$color-turquoise:#00F3BB;
$color-blue:#0000EC;